@import 'reset';
@import 'vars';

html {
  background-color: var(--bg-color);
}

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
}

.cam {
  display: flex;
  justify-content: space-around;
  background: #488968;
}
